<div class="iplist">
<table>
    <tbody>
<h2>Welcome to jQuery Travels - Traversing the DOM since 2006</h2>
      <p>Fly to New York today for as little as <correct><span>$299.99</span></correct></p>
        {% if iplist %}

            {% for ip in iplist %}
            <tr>
                <td>
                    {{ ip.ip }}<br>
                </td>

            </tr>
            {% endfor %}
        {% else %}
        <tr>
                <td>
                    no list
                </td>
        </tr>
        {% endif %}

    </tbody>
</table>
</div>