{# begin container#}

  {% csrf_token %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
            <div class="col-lg-6">
            {% for ip in iplist %}
		<div class="checkbox">
		    <label>
			<input type="checkbox" value="{{ip.ip}}">{{ip.ip}}
		    </label>
		</div>
            {% endfor %}
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
            {% for cmd in cmdlist %}
            <div class="radio">
		<label>
                    <input type="radio" name="cmd" value="{{cmd.cmd}}">{{cmd.cmd}}
		</label>
            </div>
            {% endfor %}
            </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

<div class="input-lg">
<span class="help-block"></span>
</div>
<div class="col-lg-9">
</div>
<div class="col-lg-3">
<div class="btn-group btn-right">
  <button type="button" class="btn btn-lg btn-primary" onclick="command();" >run command</button>
</div>
</div>
<div class="input-lg">
<span class="help-block"></span>
</div>

        </div>


    </div> <!-- /container -->
{# end container#}

